@charset "utf-8";

html {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #333;
}

body{
	background-color: #ef673e;
}

.case_slider{
	padding: 0;
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
}

.case_slider li{
	list-style: none;
    width: 33.3%;
    border-radius: 200px;
    text-align: center;
    float: left;
    padding: 10px 50px 0;
    box-sizing: border-box;
}

.case_slider  img{
	width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 150px;
}

.card{
	background-color: #984229;
    position: relative;
    top: -38px;
    width: 160px;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.card > span{
	font-size: 14px;
}

.card > div{
	font-weight: bold;
}

.fuwafuwa{
	animation-name:fuwafuwa;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}

.fuwafuwa_re{
	animation-name:fuwafuwa_re;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}

@keyframes fuwafuwa{
	0% {transform:translate(0, 0);}
	50% {transform:translate(0, -10px);}
	100% {transform:translate(0, 0);}
}

@keyframes fuwafuwa_re{
	0% {transform:translate(0, 0);}
	50% {transform:translate(0, 10px);}
	100% {transform:translate(0, 0);}
}

#mascotCahara{
	background-color: #9ae0c0;
	animation: uneune 5s linear infinite;
	position: fixed;
	max-width: 720px;
	max-height: 720px;
	width: 720px;
	height: 720px;
	bottom: -365px;
	left: 50%;
	transform: translateX(-50%) scale(0.65);
}

@keyframes uneune{
	0% {
		border-radius: 65% 70% 75% 80% / 70% 65% 70% 75%; 
	}

	25% {
		border-radius: 75% 65% 65% 90% / 75% 80% 85% 90%; 
	}

	70% {
		border-radius: 65% 85% 75% 65% / 85% 65% 70% 65%; 
	}

	75% {
		border-radius: 90% 65% 85% 75% / 75% 70% 80% 85%; 
	}

	100% {
		border-radius: 65% 70% 75% 80% / 70% 65% 70% 75%; 
	}
}

#mascot_eye{
    max-width: 510px;
    position: fixed;
    width: 100%;
    height: 240px;
    bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 380px;
}

#mascot_right_eye,
#mascot_left_eye{
	height: 220px;
    width: 220px;
    border-radius: 150px;
    background-color: white;
    animation: uneune 5s linear infinite;
}

#mascot_right_eye{
	float: right;
}

#mascot_left_eye{
	float: left;
}

#mascot_right_eye > .eye{
	transform: translate(17%, 16%);
}

#mascot_left_eye > .eye{
	transform: translate(-77%, 15%);
}

#mascot_eye > div > .eye{
	position: absolute;
    background-color: #3e3e3e;
    border-radius: 120px;
    width: 140px;
    height: 140px;
    padding: 50px;
    box-sizing: border-box;
}

.iziModal{
	background-color: white!important;
    width: 94%!important;
}

.iziModal-content{
	padding: 20px!important;
	font-size: 15px;
}

.iziModal-content > a{
    background-color: #a73600;
    color: white;
    text-decoration: none;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    border-radius: 60px;
    box-shadow: 0px 3px 0px 0px #481700;
}

.iziModal-content img{
	margin: auto;
    display: block;
}

@media screen and (max-width: 1600px){
	#mascotCahara{
		transform: translateX(-50%) scale(0.425)
	}

	.case_slider{
		max-width: 60vw;
	}

	.card{
		top: -3vw;
	    width: 10vw;
	    padding: 1vw;
	    font-size: 1.25vw;
	}
}

@media screen and (max-width: 900px){
	.case_slider li{
		width: 50%;
		padding: 0 3.5vw;
		margin-bottom: -6vw;
	}

	.case_slider {
	    max-width: 900px;
	    padding: 2vw 0;
    	box-sizing: border-box;
    	margin: 4vw auto 23vw;
	}

	.fuwafuwa,
	.fuwafuwa_re{
		animation: none;
	}

	.card {
	    top: -10vw;
	    width: 37vw;
	    border-radius: 30px;
	    padding: 3vw;
	    font-size: 3.5vw;
	}

}

@media screen and (max-width: 650px){
	#mascotCahara{
		transform: translateX(-50%) scale(0.25);
	}

	.iziModal-content{
		font-size: 4.25vw;
	}

	.show_sp{
		display: none;
	}

	.link_modal_5{
		font-size: 3.5vw;
	}
}